.cell {
  --dimension: 25vmin;
  height: var(--dimension);
  width: var(--dimension);
  float: left;
  /* background-color: aqua; */
}
.table {
  justify-self: center;
  background-image: url("./resources/grid.svg");
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: contain;
}
.status {
  font-family: "Permanent Marker", cursive;
  font-size: 2em;
  margin-top: 100px;
  height: fit-content;
  background-color: red;
  margin: top 1000px;
}

.cell img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-top: 27%;
}
.separator {
  height: 10%;
  background-color: green;
}
